  
        /* Estilos generales */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
    body, html {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    body{
        background: radial-gradient(hsl(346, 19%, 74%), hsla(0, 74%, 5%, 0.886))
    }
    
    /* Elegimos los atributos elegidos para el texto H2*/
    h2.colorMarrón{color: brown;}
    h2.cursivah2{font-style: italic;}
    h2.textAlign{text-align: center;}

    /* Creamos ejemplos de selectores basados en identificadores */
    #parrafo {font-style: italic; text-align: center;}
    
    /* Atributos H1 */
    h1{
        font-size: 50pt;
        color: rgba(202, 129, 4, 0.882);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* Atributos elegidos para las clases .cuadroFormulario y .contenedorCentrado, aplicadas a los elementos del cuadro. */
    .cuadroFormulario {
    border: 2px solid #877527;   /* Marco */
    text-align: center;
    padding: 20px;               /* Espacio interior */
    border-radius: 10px;         /* Bordes redondeados */
    width: 320px;                
    background: #5c1010;        
    }
    .contenedorCentrado {
    display: flex;
    justify-content: center;
    width: 100%;
    }

    /* Atributos para las etiquetas "label" contenidas en el cuadro perteneciente a la clase .cuadroFormulario */
   .cuadroFormulario label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
    /* Atributos para la etiqueta "button" contenidas en el cuadro perteneciente a la clase .cuadroFormulario */   
   .cuadroFormulario button{
    background: #efa5a5;
    border-radius: 10%;
    padding: 10px 15px;
    font-size: large;
   }


   